<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pièces Automobiles</title>

    <link rel="stylesheet" href="../../../../../Front_Projet_Integration_Continue/assets/bootstrap.min.css">
    <script src="../../../../../Front_Projet_Integration_Continue/assets/bootstrap.min.js"></script>
</head>
<body>
    <header class="site-header sticky-top py-1" style="background-color: rgba(0, 0, 0, .85);">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 fw-bold" href="#" aria-label="Product" style="color: #fff; text-decoration: none">
                Accueil
            </a>
            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Se déconnecter</button>
            </div>
        </nav>
    </header>
    <div class="pt-3" style="width: 650px; margin:auto">
        <div class="row">
            <h3>
                Liste des articles
            </h3>
        </div>
        <table class="table">
            <thead class="table-dark table-bordered">
            <tr>
                <td>
                    Code
                </td>
                <td>
                    Libellé
                </td>
                <td>
                    Prix de production
                </td>
<!--                <td>-->
<!--                    Prix d'achat-->
<!--                </td>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    XXX
                </td>
                <td>
                    XXXXXXXXXX
                </td>
                <td>
                    XXXXX,XX
                </td>
<!--                <td>-->
<!--                    XXXXX,XX-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>