<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>

    <link rel="stylesheet" href="../../../../../Front_Projet_Integration_Continue/assets/bootstrap.min.css">
    <script src="../../../../../Front_Projet_Integration_Continue/assets/bootstrap.min.js"></script>
</head>
<body>
<main class="mt-5" style="width: 350px; margin:auto;">
    <form>
        <h1 class="h3 mb-3 fw-normal">Connexion</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="nom@example.com">
            <label for="floatingInput">Adresse Mail</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de passe">
            <label for="floatingPassword">Mot de passe</label>
        </div>

        <button class="w-100 btn btn-lg btn-dark mt-2" type="submit">Se connecter</button>
    </form>
</main>
</body>
</html>