<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of Accounts</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
    </tr>

    <tr th:each="account : ${accounts}">
        <td th:text="${account.id}">Id</td>
        <td th:text="${account.username}">Username</td>
        <td th:text="${account.password}">Password</td>
        <td th:text="${account.email}">Email</td>
    </tr>
</table>

</body>
</html>